openapi.json​‌

{
  "openapi": "3.0.1",
  "info": {
    "title": "soc-watchtower-backend-dev-test",
    "description": "",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://soc-watchtower-api.azure-api.net/dev-test"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/api/companies/admin-dashboard-active": {
      "get": {
        "summary": "Admin dashboard active companies",
        "description": "Returns companies where admindashboard_active is \"true\"",
        "operationId": "companies-admin-dashboard",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "Admin dashboard active companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 8
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch admin dashboard active companies"
          }
        }
      }
    },
    "/api/companies/incident-dashboard-active": {
      "get": {
        "summary": "Incident dashboard active companies",
        "description": "Returns companies where incidentdashboard_active is \"true\"",
        "operationId": "companies-incident-dashboard",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "Incident dashboard active companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 15
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch incident dashboard active companies"
          }
        }
      }
    },
    "/api/companies/mde-report-active": {
      "get": {
        "summary": "MDE report active companies",
        "description": "Returns companies where mdereport_active is \"true\"",
        "operationId": "companies-mde-report",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "MDE report active companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 6
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch MDE report active companies"
          }
        }
      }
    },
    "/api/companies": {
      "post": {
        "summary": "Post company",
        "description": "Creates a new company record",
        "operationId": "companies-post",
        "tags": [
          "CompanyProfile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "acme-corp"
                  },
                  "displayName": {
                    "type": "string",
                    "example": "Acme Corporation"
                  },
                  "workspaceId": {
                    "type": "string",
                    "example": "ws-001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Company created successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to create company"
          }
        }
      },
      "get": {
        "summary": "Get all companies",
        "description": "Returns all companies from the customers collection",
        "operationId": "companies-get",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "Companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 25
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch companies"
          }
        }
      }
    },
    "/api/companies/{id}/toggle-dashboard": {
      "put": {
        "summary": "Toggle company dashboard status",
        "description": "Toggles a specific dashboard's active status for a company",
        "operationId": "companies-id-put",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            },
            "description": "Company key/ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dashboardType",
                  "status"
                ],
                "properties": {
                  "dashboardType": {
                    "type": "string",
                    "example": "incidentdashboard_active"
                  },
                  "status": {
                    "type": "string",
                    "example": "true"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Dashboard status updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "dashboardType and status are required"
          },
          "500": {
            "description": "Failed to update dashboard status"
          }
        }
      }
    },
    "/api/companies/{id}": {
      "get": {
        "summary": "Get company by ID",
        "description": "Returns a single company by its key/ID",
        "operationId": "companies-id-get",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            },
            "description": "Company key/ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Company fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch company"
          }
        }
      },
      "put": {
        "summary": "Update company",
        "description": "Updates a company by its key/ID",
        "operationId": "companies-put",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            },
            "description": "Company key/ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "example": "Acme Corporation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Company updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to update company"
          }
        }
      },
      "delete": {
        "summary": "Delete company",
        "description": "Deletes a company by its key/ID",
        "operationId": "companies-id-delete",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            },
            "description": "Company key/ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Company deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete company"
          }
        }
      }
    },
    "/api/cpm/company-profiles": {
      "get": {
        "summary": "Get all company profiles",
        "description": "Returns all company profile records, sorted by name",
        "operationId": "company-profiles",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "Company profiles fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 25
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch company profiles"
          }
        }
      },
      "post": {
        "summary": "Create company profile",
        "description": "Creates a new company profile record. If a status is provided, also syncs admindashboard_active/incidentdashboard_active flags on the corresponding Company record.",
        "operationId": "company-profiles-post",
        "tags": [
          "CompanyProfile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "example": "acme-corp"
                  },
                  "name": {
                    "type": "string",
                    "example": "Acme Corporation"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "Active",
                      "Trial",
                      "Inactive"
                    ],
                    "example": "Active"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Company profile created successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to create company profile"
          }
        }
      }
    },
    "/api/cpm/company-profiles/{companyId}": {
      "get": {
        "summary": "Get company profile by ID",
        "description": "Returns detailed company profile information, including a summarized list of uploaded network diagrams",
        "operationId": "company-profiles-id",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "companyId": {
                          "type": "string",
                          "example": "acme-corp"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Corporation"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "website": {
                          "type": "string"
                        },
                        "employeeCount": {
                          "type": "integer"
                        },
                        "sizeCategory": {
                          "type": "string"
                        },
                        "contactPerson": {
                          "type": "string"
                        },
                        "contactEmail": {
                          "type": "string"
                        },
                        "contactPhone": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "example": "Active"
                        },
                        "subscriptionTier": {
                          "type": "string"
                        },
                        "compliance": {
                          "type": "object"
                        },
                        "onboardingDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "networkDiagrams": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fileName": {
                                "type": "string"
                              },
                              "fileSize": {
                                "type": "integer"
                              },
                              "uploadDate": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company profile not found"
          },
          "500": {
            "description": "Failed to fetch company profile"
          }
        }
      },
      "put": {
        "summary": "Update company profile",
        "description": "Updates a company profile by companyId. If status is included, also syncs dashboard active flags on the corresponding Company record.",
        "operationId": "company-profiles-put",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Active",
                      "Trial",
                      "Inactive"
                    ],
                    "example": "Active"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Company profile updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company profile not found"
          },
          "500": {
            "description": "Failed to update company profile"
          }
        }
      }
    },
    "/api/cpm/devices/company/{companyId}/metrics": {
      "get": {
        "summary": "Get device provisioning metrics by company",
        "description": "Returns CPM device provisioning metrics for a given company",
        "operationId": "devices-company-id",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Acme Corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/cpm/devices/company/{companyId}/table": {
      "get": {
        "summary": "Get device provisioning table by company",
        "description": "Returns a paginated, filtered table of provisioning records for a company",
        "operationId": "cpm-devices-get",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "provisioned"
            }
          },
          {
            "name": "provisionedBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "admin@acme.com"
            }
          },
          {
            "name": "provisioningDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table data fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 25
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/cpm/devices/company/{companyId}/status": {
      "get": {
        "summary": "Get provisioned devices by status",
        "description": "Returns devices for a company filtered by provisioning status",
        "operationId": "devices-status",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "provisioned"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 10
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Status query parameter is required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/cpm/devices/company/{companyId}/health": {
      "get": {
        "summary": "Get provisioned devices by health status",
        "description": "Returns devices for a company filtered by health status",
        "operationId": "devices-health",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "healthStatus",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "healthy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 8
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Health status query parameter is required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/cpm/devices/upsert-provision": {
      "post": {
        "summary": "Post device provisioning fields",
        "description": "Creates or updates provisioning details (status, provisioning date, provisioned by, notes) for a device",
        "operationId": "cpm-devices-upsert-post",
        "tags": [
          "CompanyProfile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceId",
                  "companyId",
                  "deviceName"
                ],
                "properties": {
                  "deviceId": {
                    "type": "string",
                    "example": "dev-001"
                  },
                  "companyId": {
                    "type": "string",
                    "example": "acme-corp"
                  },
                  "deviceName": {
                    "type": "string",
                    "example": "Firewall-01"
                  },
                  "status": {
                    "type": "string",
                    "example": "provisioned"
                  },
                  "provisioningDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "provisionedBy": {
                    "type": "string",
                    "example": "admin@acme.com"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Initial provisioning"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioning details saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Provisioning details saved"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "deviceId, companyId and deviceName are required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/cpm/network-diagram/{companyId}/download": {
      "get": {
        "summary": "Get network diagram download URL",
        "description": "Generates a download URL for a specific network diagram file by name",
        "operationId": "network-diagram-get",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "network-diagram-v1.pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "downloadUrl": {
                          "type": "string"
                        },
                        "fileName": {
                          "type": "string",
                          "example": "network-diagram-v1.pdf"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing fileName query parameter"
          },
          "500": {
            "description": "Error generating download URL"
          }
        }
      }
    },
    "/api/cpm/network-diagram/{companyId}": {
      "get": {
        "summary": "Get network diagrams",
        "description": "Returns the list of network diagrams uploaded for a company",
        "operationId": "network-diagram",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network diagrams fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "networkDiagrams": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching network diagrams"
          }
        }
      },
      "delete": {
        "summary": "Delete network diagram",
        "description": "Deletes a specific network diagram file by name",
        "operationId": "network-diagram-delete",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "network-diagram-v1.pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "File deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing fileName query parameter"
          },
          "500": {
            "description": "Error deleting network diagram"
          }
        }
      }
    },
    "/api/cpm/network-diagram/{companyId}/upload": {
      "post": {
        "summary": "Upload network diagrams",
        "description": "Uploads one or more network diagram files",
        "operationId": "network-diagram-post",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Up to 20 files"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "3 file(s) uploaded successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "networkDiagrams": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No files uploaded, or invalid file type"
          },
          "500": {
            "description": "Error uploading network diagrams"
          }
        }
      }
    },
    "/api/cpm/onboarding": {
      "get": {
        "summary": "Get all onboarding records",
        "description": "Returns all company onboarding records",
        "operationId": "onboarding",
        "tags": [
          "CompanyProfile"
        ],
        "responses": {
          "200": {
            "description": "Onboarding records fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 20
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch onboarding records"
          }
        }
      },
      "post": {
        "summary": "Create onboarding record",
        "description": "Creates a new company onboarding record",
        "operationId": "onboarding-post",
        "tags": [
          "CompanyProfile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "example": "acme-corp"
                  },
                  "isManualEntry": {
                    "type": "boolean",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Onboarding details created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Onboarding details created successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to create onboarding"
          }
        }
      }
    },
    "/api/cpm/onboarding/company/{companyId}": {
      "get": {
        "summary": "Get onboarding by company",
        "description": "Returns the onboarding record for a specific company",
        "operationId": "onboarding-company-id",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding record fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch onboarding by company"
          }
        }
      }
    },
    "/api/cpm/onboarding/{companyId}": {
      "put": {
        "summary": "Update onboarding record",
        "description": "Updates the onboarding record for a company",
        "operationId": "onboarding-put",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Onboarding details updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to update onboarding"
          }
        }
      }
    },
    "/api/cpm/onboarding/{companyId}/milestone/{milestoneName}": {
      "put": {
        "summary": "Update onboarding milestone",
        "description": "Updates a specific milestone within a company's onboarding record",
        "operationId": "onboarding-put-companyid",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "milestoneName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "kickoff-call"
            },
            "description": "URL-encoded milestone name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Milestone updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Milestone updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to update milestone"
          }
        }
      }
    },
    "/api/cpm/siem-config/{companyId}/files/download": {
      "get": {
        "summary": "Get SIEM configuration file download URL",
        "description": "Generates a download URL for a specific SIEM configuration file by display name",
        "operationId": "cpm-siem-download-get",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          },
          {
            "name": "displayName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "firewall-config.pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "downloadUrl": {
                          "type": "string"
                        },
                        "fileName": {
                          "type": "string",
                          "example": "firewall-config.pdf"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing displayName query parameter"
          },
          "500": {
            "description": "Error generating download URL"
          }
        }
      }
    },
    "/api/cpm/siem-config/{companyId}/metrics": {
      "get": {
        "summary": "Get SIEM live metrics",
        "description": "Returns live SIEM metrics for a given company",
        "operationId": "cpm-siem-metrics-get",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SIEM metrics fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching SIEM metrics"
          }
        }
      }
    },
    "/api/cpm/siem-config/{companyId}/files": {
      "get": {
        "summary": "Get SIEM configuration files",
        "description": "Returns the list of SIEM configuration files uploaded for a company",
        "operationId": "siem-config-get-companyid",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching files"
          }
        }
      },
      "post": {
        "summary": "Upload SIEM configuration files",
        "description": "Uploads one or more SIEM configuration files.",
        "operationId": "siem-config-post-companyid",
        "tags": [
          "CompanyProfile"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "acme-corp"
            }
          }
        ],
        "requestBody": {
          "required": true,
